body {
  background-color: #eee;
  font-family: "Muli", sans-serif;
}

.flexi {
  display: flex;
}

.contract,
.existing-contracts {
  margin: 20px;
  width: 50%;
  padding: 40px;
  border: 1px solid #ddd;
  background-color: #fff;
}

h1 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 20px;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
  border-radius: 8px;
  border: 2px solid grey;
}

.button {
  background-color: #f57b17;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  border-radius: 8px;
}

.button:hover {
  background-color: #cc6613;
}

.btn {
  margin: 20px auto;
  display: block;
  width: 90%;
  border: hidden;
}

.btn:disabled {
  background: grey;
  color: black;
  cursor: auto;
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}

.existing-contract ul > li {
  list-style: none;
  display: flex;
  margin: 10px;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
}

.existing-contract .complete {
  color: #5aa75a;
  text-align: center;
}
